name: Tests

on:
  # Only run tests on push to master branch
  push:
    branches: [master]
  # Run tests for all pull request changes targeting master
  pull_request:
    branches: [master]

jobs:
  test:
    # Test on older Ubuntu with OpenSSL < 1.1 and newer with OpenSSL >= 1.1
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-16.04, ubuntu-18.04, ubuntu-20.04]

    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: Print OpenSSL version
      run: openssl version

    - name: Install and set up bats-core
      run: |
        git clone https://github.com/bats-core/bats-core.git /tmp/bats-core-repo
        mkdir -p /tmp/bats-core
        bash /tmp/bats-core-repo/install.sh /tmp/bats-core

    # Need to configure git globally to avoid errors when we create and use
    # temporary test-specific Git repos fatal: `empty ident name`
    - name: Configure dummy Git user.[name,email] values
      run: |
        git config --global user.name github-actions-user
        git config --global user.email github-actions-user@example.com

    - name: Run tests
      run: /tmp/bats-core/bin/bats tests/
